@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1d77ff 0%, #005be3 100%);
  border-radius: 10px;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.linear-primary {
  background: linear-gradient(180deg, #1d77ff 0%, #005be3 100%);
}

.linear-secondary {
  background: linear-gradient(180deg, #005be3 0%, #1d77ff 100%);
}

.radial-gradient-shadow {
  background: radial-gradient(
    53.43% 53.43% at 50% 46.57%,
    rgba(29, 122, 253, 0.15) 0%,
    rgba(29, 122, 253, 0.1) 40.1%,
    rgba(29, 122, 253, 0.06) 100%
  );
}

.sliderGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.sliderGradient2 {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 0, 0, 1) 92%,
    rgba(0, 0, 0, 0)
  );
}
